@import url(header.css);
@import url(hero.css);
@import url(course-slider.css);
@import url(course-card.css);
@import url(slider.css);
@import url(top-ten.css);
@import url(top-instructors.css);
@import url(instructors-card.css);
@import url(footer-course-category.css);
@import url(footer.css);
@import url(team.css);
@import url(team-member-card.css);
@import url(privacy.css);
@import url(error404.css);
@import url(courses.css);
@import url(course-hero.css);
@import url(instructors.css);
@import url(contact.css);
@import url(about.css);
@import url(search.css);
@import url(login.css);
@import url(login-form.css);
@import url(signup.css);
@import url(post-review.css);
@import url(review.css);
@import url(course-details.css);
@import url(dashboard.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show{
    display: flex;
}

.hide{
    display: none;
}

.flipHorizontal{
    transform: rotate(180deg);
}

.boxShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container{
    width: 100vw;
}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
  }