.footerCourseCategoryContainer{
    width: 100%;
    background-color: #fff;
    height: 80vh;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.footerCourseCategoryHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerCourseCategoryHeading h2{
    font-size: 2.5rem;
}

.footerCourseCategory{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footerCourseCategory span{
    background-color: #000;
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.footerCourseCategory span:hover{
    color: #000;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-5px);
}

.footerCourseCategory span:active{
    transform: translateY(0);
}