.singleReviewContainer{
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.singleReviewContainer p{
    margin-bottom: 10px;
    width: 100%;
}

.singleReviewContainer span{
    font-weight: bold;
}